#sidebar: p {{genedom_sidebar_text}}

.logos
  img(src="file:///{{ genedom_logo_url }}")
  img(src="file:///{{ egf_logo_url }}")

hr
h1 Part domestication report
hr
  
p.
  The table below shows how the different parts have been domesticated. The small
  icons are unique identifiers for the sequences. If two sequences have the same
  icon, they are very probably the same !

h2  Summary Table 

{{ summary_table }}

h2 Domesticators

each domesticator in domesticators
  .ui.segment.raised
    .ui.title.ribbon.label.teal {{domesticator.name}}
    .description {{ domesticator.html_details() }}
